* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom right, #f8f9fa, #adb5bd);
}

.intro {
    background-color: coral;
    text-align: center;
    padding: 10px;
}

h1,
h3 {
    background-color: inherit;
}

section {
    padding: 50px 0;
}



.add-form {
    width: 75%;
    margin: 0 auto;
    background: khaki;;
}

.row {
    background: inherit;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.col {
    display: inline-block;
    margin: 1% 0 1% 1.6%;
}

.form-detail {
    width: 40%;
}


input[type=text],
input[type=submit],
select {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.tasks-section {
    margin: 0 25px;
}

.board-lists {
    display: grid;
    grid-auto-columns: 272px;
    grid-auto-flow: column;
    gap: 8px;
    /* overflow: scroll; */
}

.board-list {
    background-color: #a9d6e5 !important;
    border-radius: 3px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 10px;
    height: max-content;
    padding: 10px;
}

.card {
    background-color: white !important;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.add-card {
    padding-top: 10px;
    padding-bottom: 5px;
}
